*, ::before {
	border-radius: 0px 0px 39px 39px;
}

/* body color specs */
body {
    background-image: linear-gradient(to top right, #C5C5C5 10%, #E5E5E5 100%);
}

/* main font specs */
html {
	font-size: 10px;
	font-family: monospace;
	scroll-behavior: smooth;
}

/* style for time & date */
.time {
	padding-left: 7.4px;
}

h3 {
	font-size: 15px;
	color: blue

}

/* about section specs */
#about {
    font-size: 50px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
}

/* personal information specs */
#personalInfo h2 {
    padding-top: 40px;
    font-size: 50px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
}

#profile-image {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 50vh;
    border-radius: 50px;
}

#personalInfo p {
    padding-top: 15px;
    font-size: 20px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
    max-width: 50vw;
    color: rgb(90, 65, 3);
}

/* End of personal information specs */


/* CSUF EDU specs */
#csuf h2 {
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 50px;
    color: rgb(218, 158, 81);
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
}

#calstatefullerton {
    max-height: 100vh;
    width: 55%;
}

#csuf p {
    padding-top: 15px;
    font-size: 20px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
    max-width: 50vw;
    color: rgb(90, 65, 3);
}
/* End of CSUF EDU specs */

/* UCI EDU specs */
#uci h2 {
	padding-top: 40px;
    padding-bottom: 5px;
    font-size: 50px;
    color: rgb(218, 158, 81);
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
}

#uCIrvine {
    border-radius: 15px;
    max-height: 100vh;
    width: 55%;
}

#uci p {
    padding-top: 15px;
    font-size: 20px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
    max-width: 50vw;
    color: rgb(90, 65, 3);
}

/* End of UCI EDU specs */


/* Project Two specs */

#thecloudcasino h2 {
	padding-top: 40px;
    padding-bottom: 5px;
    font-size: 60px;
    color: darkred;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    text-align: center;
}

/* Project One specs */
#foodforthought h2 {
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 50px;
    color: rgb(218, 158, 81);
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
}

#project-two {
	border-radius: 15px;
    max-height: 120vh;
    width: 65%;
}

#thecloudcasino p{
	margin: 0 auto;
	padding-top: 15px;
    font-size: 20px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
    max-width: 100vw;
    color: rgb(90, 65, 3);
}

#project-one {
    border-radius: 15px;
    max-height: 110vh;
    width: 35%;
}

#foodforthought p {
    padding-top: 15px;
    font-size: 20px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
    max-width: 50vw;
    color: rgb(90, 65, 3);
}

/* End of Project One specs */


/* Additional Works Specs - Weather Dash */
#techblog h2 {
	padding-top: 40px;
    padding-bottom: 5px;
    font-size: 50px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
	color: 	rgb(57, 199, 242)
}

#techblog img {
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* width: 85%; */
}


#techblog p {
	padding-top: 15px;
    font-size: 20px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;

    color: rgb(90, 65, 3);
} 

#weatherdash h2 {
	padding-top: 40px;
    padding-bottom: 5px;
    font-size: 50px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
	color: rgb(0, 102, 255)
}

#weatherdashboard {
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 95%;
}

#weatherdash p {
	padding-top: 15px;
    font-size: 20px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
    max-width: 50vw;
    color: rgb(90, 65, 3);
}

/* Additional Works Specs - End Weather Dash */